.bg-img {
  background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-repeat: no-repeat;
  background-size:cover;
}

.bg-slick {
  background-color: rgba(82, 82, 82, 0.445);
  backdrop-filter: blur(5px);
}

.bg-content {
  background-color: rgba(255, 255, 255, 0.644);
}